@import "../../App.scss";
.card{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    border: 1px solid lightgray;
    &:hover{
        background-color: var(--fifth-color);
        transition: all .15s ease-in;
        cursor: pointer;
        transform: scale(1.02);
    }
    @include mobile666{
        flex-direction: column;
    }
    .cardRight{
        flex: 1;
        padding: 10px;
        .card-image{
            width: 100%;
            height: 200px;
            overflow: hidden;
            position: relative;

            span{
                color: var(--main-color);
                position: absolute;
                top: 5px;
                left: 5px;
                background-color: white;
                padding: 3px 5px;
                z-index: 3;
                font-weight: 500;
                font-size: 12px;
            }
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                border-radius: 5px;
            }
        }
    }

    .cardLeftWrapper{
        flex: 3;
        display: flex;
        width: 100%;
        @include mobile479{
            flex-direction: column;
        }


        .clw-left{
            flex: 2;
            padding: 10px 0px;
            @include mobile666{
                padding: 10px 10px;
            }
            h1{
                font-size: 20px;
                margin-bottom: 5px;
            }

            p{
                font-size: 10px;
                margin-top: 10px;
            }

        }

        .clw-right{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0px;
            width: 100%;
            @include mobile479{
                flex-direction: row;
            }

            button{
                width: 100%;
            }
        }
    }
}