@import "../../App.scss";

.aboutUs{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    padding: 20px 0px;

    .container{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 90%;
        align-items: center;
        @include mobile800{
            flex-direction: column;
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            @include mobile800{
                width: 100%;
            }

            .aboutUsVideo{
                width: 90%;
                height: 242px;
            }
        }

        .left{
            display: flex;
            flex-direction: column;
            width: 55%;
            @include mobile800{
                width: 100%;
            }

            h1{
                color: var(--main-color);
            }
        }
    }
}